<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsc.personal.tools.db.mapper.DbTableMapper">

    <resultMap id="BaseResultMap" type="com.lsc.personal.tools.db.bean.DataBase">
        <id column="TABLE_SCHEMA" property="tableSchema" jdbcType="VARCHAR"/>
        <id column="ENGINE" property="engine" jdbcType="VARCHAR"/>
        <id column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="TABLE_NAME" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="TableResultMap" type="com.lsc.personal.tools.db.bean.Table">
        <id column="TABLE_SCHEMA" property="tableSchema" jdbcType="VARCHAR"/>
        <id column="TABLE_NAME" property="tableName" jdbcType="VARCHAR"/>
        <id column="TABLE_COMMENT" property="tableNameExtra" jdbcType="VARCHAR"/>
        <id column="ENGINE" property="dbType" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ColumnResultMap" type="com.lsc.personal.tools.db.bean.Column">
        <id column="COLUMN_NAME" property="columnName" jdbcType="VARCHAR"/>
        <id column="DATA_TYPE" property="columnType" jdbcType="VARCHAR"/>
        <id column="IS_NULLABLE" property="isNull" jdbcType="VARCHAR"/>
        <id column="COLUMN_KEY" property="columnKey" jdbcType="VARCHAR"/>
        <id column="COLUMN_DEFAULT" property="defaultVlue" jdbcType="VARCHAR"/>
        <id column="COLUMN_COMMENT" property="extra" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllDataBase" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        SELECT TABLE_SCHEMA FROM INFORMATION_SCHEMA.TABLES GROUP BY table_schema;
    </select>

    <!--  获取指定库下所有表名-->
    <select id="selectAllTable" parameterType="java.lang.String" resultMap="TableResultMap">
        SELECT * FROM information_schema.tables
        WHERE table_schema=#{dataBase} AND table_type='base table';
    </select>

    <!--  获取指定库下所有表名-->
    <select id="selectTableAllColumn" parameterType="java.util.HashMap" resultMap="ColumnResultMap">
        SELECT *
        FROM information_schema.columns
        WHERE table_schema = #{dataBase}
        AND table_name = #{tableName};
    </select>

</mapper>